<mat-form-field class="mat-form">
  <input matInput class="bg-transparente"(keyup)="aplicarFiltro($event.target.value)" placeholder="Filtrar">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="idTercero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Tercero </th>
      <td mat-cell *matCellDef="let tercero"> {{tercero.terceroId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let tercero"> {{tercero.nombreTercero}} </td>
    </ng-container>
  
    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección. </th>
      <td mat-cell *matCellDef="let tercero"> {{tercero.direccion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
      <td mat-cell *matCellDef="let tercero"> {{tercero.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono. </th>
      <td mat-cell *matCellDef="let tercero"> {{tercero.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado. </th>
      <td mat-cell *matCellDef="let tercero"> {{tercero.idEstado_Estado}} </td>
    </ng-container>

    <ng-container matColumnDef="tDocId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo documento Id. </th>
      <td mat-cell *matCellDef="let tercero"> {{tercero.tipoDocumentoId_TipoDocumento}} </td>
    </ng-container>

    <!-- Star Column -->
  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let tercero">
      <button mat-icon-button [matMenuTriggerFor]="menuTercero">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuTercero="matMenu">
        <button mat-menu-item (click)="actualizar(tercero.terceroId)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="desactivar(tercero)" *ngIf="!esInactivo(tercero);else activateOpt">
          <mat-icon>check_box_outline_blank</mat-icon>
          <span>Desactivar</span>
        </button>
        <ng-template #activateOpt>
          <button mat-menu-item (click)="activar(tercero)">
            <mat-icon>check_box</mat-icon>
            <span>Activar</span>
          </button>
        </ng-template>
      </mat-menu>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<button mat-fab class="btn-add-thirds" (click)="crear()">
  <mat-icon>person_add</mat-icon>
</button>