<mat-form-field class="mat-form">
  <input matInput class="bg-transparente"(keyup)="aplicarFiltro($event.target.value)" placeholder="Filtrar">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="usuarioId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.usuarioId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="terceroId_Tercero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> terceroId </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.terceroId_Tercero}} </td>
    </ng-container>

    <ng-container matColumnDef="contrasenia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contraseña. </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.contrasenia}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoUsuarioId_TipoUsuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> tipoUsuarioId. </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.tipoUsuarioId_TipoUsuario}} </td>
    </ng-container>

    <ng-container matColumnDef="idEstado_Estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> idEstado </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.idEstado_Estado}} </td>
    </ng-container>

    <!-- Star Column -->
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let usuario">
        <button mat-icon-button [matMenuTriggerFor]="menuUsuario">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuUsuario="matMenu">
          <button mat-menu-item (click)="actualizar(usuario.usuarioId)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="desactivar(usuario)" *ngIf="!esInactivo(usuario);else activateOpt">
            <mat-icon>check_box_outline_blank</mat-icon>
            <span>Desactivar</span>
          </button>
          <ng-template #activateOpt>
            <button mat-menu-item (click)="activar(usuario)">
              <mat-icon>check_box</mat-icon>
              <span>Activar</span>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<button mat-fab class="btn-add-thirds" (click)="crear()">
  <mat-icon>person_add</mat-icon>
</button>