table {
    width: 100%;
  }
  
  .mat-form {
    width: 100%;
  }
.btn-add-thirds{
  margin-top: 10px;
}
    /*
  ::ng-deep .mat-focused .mat-form-field-label {
    color: #2971e5 !important;
  }
  

  ::ng-deep.mat-form-field-underline {
      /*change color of underline
  background-color: green !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
    background-color: #2971e5 !important;
  }
  */