<div id="sidebar">
  <mat-nav-list>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
      <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/tipo-material']">
      <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Tipo Material' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }}
    </a>

    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin" [routerLink]="['/tipo-balasto-list']">
      <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Tipo' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin" [routerLink]="['/tipo-balasto']">
      <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Tipo Balasto' | translate }}
    </a>
    </mat-nav-list>
  </div>
  </mat-nav-list>
</div>
