<div id="sidebar">
  <mat-nav-list>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showCoordinador"  [routerLink]="['/dashboard']">
      <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin" [routerLink]="['/estado']">
      <mat-icon class="sidenav-icon">checkbox</mat-icon> {{ 'Estado' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin" [routerLink]="['/tipo-balasto']">
      <mat-icon class="sidenav-icon">calendar_view_day</mat-icon> {{ 'Tipo Balasto' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin"  [routerLink]="['/tipo-material']">
      <mat-icon class="sidenav-icon">dynamic_feed</mat-icon> {{ 'Tipo Material' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin" [routerLink]="['/tipo-soporte']">
      <mat-icon class="sidenav-icon">developer_mode</mat-icon> {{ 'Tipo Soporte' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin"  [routerLink]="['/tipo-transformador']">
      <mat-icon class="sidenav-icon">border_outer</mat-icon> {{ 'Tipo Transformador' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin" [routerLink]="['/tipo-usuario']">
      <mat-icon class="sidenav-icon">person</mat-icon> {{ 'Tipo Usuario' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin" [routerLink]="['/tipo-zona']">
      <mat-icon class="sidenav-icon">where_to_vote</mat-icon> {{ 'Tipo Zona' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showAdmin" [routerLink]="['/tipo-documento']">
      <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Tipo Documento' | translate }}
    </a>

    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showCoordinador" [routerLink]="['/editar-coordinador']">
      <mat-icon class="sidenav-icon">edit</mat-icon> {{ 'Editar Perfil' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showCoordinador" [routerLink]="['/listado-tecnicos']">
      <mat-icon class="sidenav-icon">list</mat-icon> {{ 'Listado Tecnicos' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" *ngIf="showCoordinador" [routerLink]="['/activos-tecnicoss']">
      <mat-icon class="sidenav-icon">perm_identity</mat-icon> {{ 'Ver Tecnicos Activos' | translate }}
    </a>
  </mat-nav-list>
</div>
