<h2 mat-dialog-title *ngIf="injectedObject.saveBool; else elseHeader">
  Crear {{injectedObject.text}}
</h2>

<ng-template #elseHeader>
  <h2 mat-dialog-title>
    Editar {{tercero.terceroId}} - {{tercero.nombreTercero}}
  </h2>
</ng-template>

<mat-dialog-content>
  <mat-form-field>
    <input matInput *ngIf="!injectedObject.saveBool; else elseInput" 
      [(ngModel)]="tercero.terceroId" #terceroId 
      id="terceroId" name="terceroId" 
      placeholder="ID Tercero" disabled
    >

    <ng-template #elseInput>
      <input matInput [(ngModel)]="tercero.terceroId" 
        #terceroId id="terceroId" name="terceroId" 
        placeholder="ID Tercero" required
      >
    </ng-template>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="tercero.numeroDocumento" 
      #numeroDocumento id="numeroDocumento" name="numeroDocumento" 
      placeholder="Numero de Documento" type="number"  required
    >
  </mat-form-field>

  <div *ngIf="injectedObject.saveBool">
    <mat-form-field>
      <mat-label>Tipo de Documento</mat-label>
      <mat-select [(ngModel)]="tercero.tipoDocumentoId_TipoDocumento" 
        #tipoDocumentoId_TipoDocumento id="tipoDocumentoId_TipoDocumento" 
        name="tipoDocumentoId_TipoDocumento" required
      >

        <mat-option *ngFor="let tDoc of listaTipoDocumento" 
          [value]="tDoc.tipoDocumentoId"
        >
          {{tDoc.tipoDocumentoId}} - {{tDoc.nombreTipoDocumento}}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput [(ngModel)]="tercero.nombreTercero" 
      #nombreTercero id="nombreTercero" name="nombreTercero" 
      placeholder="Nombre" type="text"  required
    >
  </mat-form-field><br>

  <mat-form-field>
    <input matInput [(ngModel)]="tercero.direccion" 
      #direccion id="direccion" name="direccion" 
      placeholder="Direccion" type="text"  required="true"
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="tercero.telefono" 
      #telefono id="telefono" name="telefono" 
      placeholder="Telefono" type="number" minlength="0"  required
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="tercero.email" 
      #email id="email" name="email" 
      placeholder="Correo" type="email"  required
    >
  </mat-form-field>

  <div *ngIf="!injectedObject.saveBool">
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="tercero.idEstado_Estado" 
        #estado id="estado" name="estado"
      >

        <mat-option *ngFor="let estado of listaEstado" 
          [value]="estado.idEstado"
        >
          {{estado.idEstado}} - {{estado.estado}}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="crear()"
    *ngIf="injectedObject.saveBool; else elseButton">Guardar</button>
  <ng-template #elseButton>
    <button class="mat-raised-button mat-primary" (click)="actualizar()">
      Actualizar
    </button>
  </ng-template>
  <button class="mat-raised-button" (click)="cerrar()">Cerrar</button>
</mat-dialog-actions>